*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

}


.container{
   max-width: 80%;
   background-color: rgb(153, 102, 247);
   padding: 34px;
   margin: auto;
}

.container h1{

   text-align: center;    
}

input,select{
  width: 80%;
  margin:11px auto;
  padding:7px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 6px;
  outline:none
}

form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.btn{
   padding:8px 12px;
   color: white;
   background: purple;
   font-size: 20px;
   border: 2px solid white;
   border-radius: 14px;
   cursor: pointer;
}


th, td {
    padding: 15px;
  }


  table {
    border-spacing: 30px;
  }